body {
    font-family: sans-serif;
}

body {
background-color: #fbf1e9;
}
h1 {
    text-align: center;
    color: black;
    font-size: 96px;
   text-shadow: 0px 20px 10px  rgb(9, 9, 9, 0.38);
}

.text-big {
    text-align: center;
    font-size: 30px;
    color: black;
}
.link-header {
    color: #b5936f;
    font-size: 30px;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
}

b {
    color: #c7a07a;
    text-decoration: none;
}
.link-header:hover {
    text-shadow: 5px 10px 20px #a07855ff;
}
.text-big {
    font-size: 20px;
    color: #b5936f;
}
p {
    font-size: 24px;
    margin-left: 25px;
}
.link-text {
    text-decoration: none;
}
p:hover {
    color:#b5936f; 
}
.link-nav {
    text-decoration: none;
   margin-right: 50px;
   font-size: 20px;
}
nav {
    padding: 15px 40px 0px 10px;
}
.link-nav:hover {
    text-shadow: 5px 10px 20px #a07855ff;
}
p:hover {
font-size: 30px;
}
img { 
    padding-left: 24px;
}

.social {
    padding: 20px 10px 10px 10px;
}
h2 {
    font-size: 30px;
    color: #b5936f;
    margin-left: 25px;
}
li {
  color: black;
  font-size: 20px;
}
li:hover { 
    font-size: 25px;
    color: #b5936f;
}

